<html>
    <head>
        <title>demo socket io</title>
        <script src="jquery.js"></script>
        <!-- thu vien socket.io phia client -->
        <script src="https://vanquangonline.herokuapp.com/socket.io/socket.io.js"></script>
        <script>
            // goi dien len server
            var socket =io("https://vanquangonline.herokuapp.com/");
            socket.on("Server-send-data",function(data){
                $("#noidung").append(data + ",");
            });
            socket.on("Server-send-data1",function(data){
                $("#noidung1").append(data + ",");
            });
            $(document).ready(function(){
                $("#mrA").click(function(){
                    socket.emit("Client-send-data","game de vcccccccc");
                })
                $("#mrA1").click(function(){
                    socket.emit("Client-send-data1","chao aaaaaa");
                })
            });
        </script>
    </head>
    <body>
        <div id="mrA">CLick send</div>
        <div id="mrA1">CLick send1</div>
        <h2 id="noidung">...</h2>
        <h2 id="noidung1">...</h2>
    </body>
</html>