<!DOCTYPE html>
<html>
    <head>
        <title>demo socket io</title>
        <script src="jquery.js"></script>
        <!-- thu vien socket.io phia client -->
        <script src="socket.io/socket.io.js"></script>
        <script src="xuli.js"></script>
        <link rel="stylesheet" type="text/css" href="layout.css" />
    </head>
    <body>
        <div id="wrapper">
            <div id="information">
                <input type="text" id="txthoten" placeholder="Ho ten">
                <input type="text" id="txtemail" placeholder="Email">
                <input type="text" id="txtsdt" placeholder="Dien Thoai">
                <input type="button" id="btnregister" value="Register">
            </div>
            <div id="listUsers">
                <h3>Danh sach hoc vien</h3>
                <div id="ds">
                    
                </div>
            </div>
        </div>
    </body>
</html>