
#wrapper{
    width: 520px;
    margin: auto;
}
#information{
    border: solid 1px gray;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
/* #txthoten,#txtemail,#txtsdt{
    
} */
#listUsers{
    text-align: center;
}
.hocvien{
    border-bottom: solid 1px violet;
    padding: 10px;
}
.hang1 span{
    color: blue;
    font-weight: bold;
}
#left{
    width: 30%;
    float: left;
    background-color: burlywood;
}
#right{
    width: 70%;
    float: right;
    background-color: cyan;
}
#left , #right{
    min-height: 300px;
}
#roomhientai{
    background-color: gray;
    width: 100px;
    float: right;
    color: white;
}






